#about .title-container {
    background-image: url('../../assets/israel-tree-pink.png');
}

#about .nav-item {
    background-color: #191997c9;
}

#about .nav-item:hover {
    background-color: #191997;
}

#about .info-container {
    background: linear-gradient(0deg, #e36f8c53 0%, #e36f8c23 5%, #fff 10%, #fff 25%, #fff 50%, #fff 75%, #fff 100%);
}

#juli {
    background-image: url('../../assets/juli.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -10px;
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

#about .info-container h2 {
    color: #191997;
}

#download {
    background-color: #191997;
    color: #fff;
    display: block;
    width: 260px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    font-family: 'Cherry Swash', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    margin: 40px auto 0 auto;
    transition: .2s ease;
    cursor: pointer;
}

#download:hover {
    background-color: #23114f;
}

#download:focus {
    border: none;
}

@media(max-width: 450px) {
    #download {
        margin-bottom: 40px;
    }
}