#education .title-container {
    background-image: url('../../assets/great-falls-pink.png');
}

#education .nav-item {
    background-color: #191997c9;
}

#education .nav-item:hover {
    background-color: #191997;
}

#education .info-container {
    background: linear-gradient(0deg, #e36f8c43 0%, #e36f8c13 5%, #fff 10%, #fff 25%, #fff 50%, #fff 75%, #fff 100%);
}

#education ::-webkit-scrollbar {
    display: none;
}

#education .info-container h2 {
    color: #191997;
}

#education .info-container h3 {
    color: #e36f8c;
}

#education .info-container p {
    margin-bottom: 60px;
}

@media(max-width: 1380px) {
    #education .title-container h1 {
        font-size: 90px;
    }
}

@media(max-width: 1161px) {
    #education .title-container h1 {
        font-size: 70px;
    }
}

@media(max-width: 997px) {
    #education .title-container h1 {
        font-size: 60px;
    }
}

@media(max-width: 832px) {
    #education .title-container h1 {
        font-size: 120px;
    }
}

@media(max-width: 650px) {
    #education .title-container h1 {
        font-size: 90px;
    }
}

@media(max-width: 450px) {
    #education .title-container h1 {
        font-size: 70px;
    }
}