#experience .title-container {
    background-image: url('../../assets/sunset-blue.png');
    background-position: center;
}

#experience .nav-item {
    background-color: #e36f8cc9;
}

#experience .nav-item:hover {
    background-color: #e36f8c;
}

#experience .info-container {
    background: linear-gradient(0deg, #19199743 0%, #19199713 5%, #fff 10%, #fff 25%, #fff 50%, #fff 75%, #fff 100%);
}

#experience .info-container h2 {
    color: #e36f8c;
}

#experience .info-container h3 {
    color: #191997;
}

@media(max-width: 1380px) {
    #experience .title-container h1 {
        font-size: 90px;
    }
}

@media(max-width: 1161px) {
    #experience .title-container h1 {
        font-size: 70px;
    }
}

@media(max-width: 997px) {
    #experience .title-container h1 {
        font-size: 60px;
    }
}

@media(max-width: 832px) {
    #experience .title-container h1 {
        font-size: 120px;
    }
}

@media(max-width: 650px) {
    #experience .title-container h1 {
        font-size: 90px;
    }
}

@media(max-width: 450px) {
    #experience .title-container h1 {
        font-size: 66px;
    }
}