html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
}

.title-container {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 54vw;
  padding-top: 25vh;
  text-align: center;
}

.title-container h1 {
  font-family: "Cherry Swash", serif;
  font-size: 120px;
  color: #fff;
  margin: auto;
  pointer-events: none;
}

.info-container {
  overflow-y: scroll;
  width: 46vw;
  padding: 40px 80px;
}

.section ::-webkit-scrollbar {
  display: none;
}

.info-container h2 {
  font-family: "Cherry Swash", serif;
  font-size: 40px;
  margin-bottom: 0;
}

.info-container h3 {
  font-family: "Century Gothic", serif;
  font-size: 23px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}

.info-container p {
  font-family: "Ebrima", sans-serif;
  color: #23114f;
  line-height: 22px;
  font-size: 17px;
  margin-top: 0;
}

@media(max-width: 1161px) {
  .title-container {
      background-size: 120%;
  }
}

@media(max-width: 997px) {
  .title-container {
      background-size: 150%;
  }
}

@media(min-height: 1365px) and (min-width: 1020px) and (max-height: 1370px) and (max-width: 1025px) {
  .section {
      display: block;
      height: auto;
  }
  .title-container {
      background-size: 100%;
      width: auto;
      padding-top: 10vh;
      padding-bottom: 10vh;
  }
  .info-container {
      background: #fff !important;
      width: auto;
      overflow-y: visible;
      padding: 20px 40px;
  }
}

@media(max-width: 832px) {
  .section {
      display: block;
      height: auto;
  }
  .title-container {
      background-size: 100%;
      width: auto;
      padding-top: 10vh;
      padding-bottom: 10vh;
  }
  .info-container {
      background: #fff !important;
      width: auto;
      overflow-y: visible;
      padding: 20px 40px;
  }
}

@media(max-width: 450px) {
  .info-container {
    padding: 20px 40px;
  }

  .info-container h2 {
    font-size: 32px;
  }
}